<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    {% comment %} <link rel="stylesheet" href="templates/statics/styles.css"> {% endcomment %}
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
		  {% block content %}
		  <form method="POST" novalidate>
			  {% csrf_token %}
			  <h2>Login</h2>
			  {{form.as_p}}
			  <input type="submit" value="Login" />
		  </form>
		  {% endblock content%}
    </main>
  </body>
</html>
