<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
		{% block content %}
		<form method="POST" novalidate>
			{% csrf_token %}
			<h2>Login</h2>
			{{form.as_p}}
			<input type="submit" value="Login" />
		</form>
		{% endblock content%}
        {% comment %} <h1>Welcome to My Website</h1>   {% endcomment %}
    </main>
    <script src="index.js"></script>
  </body>
</html>

{% comment %} {% extends 'base.html' %}

{% block content %}
<form method="POST" novalidate>
	{% csrf_token %}
	<h2>Login</h2>
	{{form.as_p}}
	<input type="submit" value="Login" />
</form>
{% endblock content%} {% endcomment %}