<div class="modal fade" id="addFriendsModal" tabindex="-1" aria-labelledby="addFriendsModalLabel" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addFriendsModalLabel">Manage friends requests</h5>
                <button id="addFriendCloseBtn" type="button" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                {% comment %} <form id="searchForm" autocomplete="off">
                    <input type="search" id="searchInput" class="form-control" placeholder="Search username">
                </form>
                <div id="searchResults" class="list-group mt-2"></div> {% endcomment %}
                <table id="frienshipRequestTable" class="table">
                    <tbody>
                        <!-- Filled dynamically -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% comment %} TODO also load the list of friends request with accept and refuse buttons {% endcomment %}