    <!-- User Registration Menu Modal -->
    <div class="modal fade" id="SignInMenu" tabindex="-1" aria-labelledby="SignInMenuLabel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SignInMenuLabel">What now, hmm..?</h5>
                </div>
                <div class="modal-body">
                    <button id="showRegister" class="btn btn-outline-dark w-100 mb-2">Register</button>
                    <button id="showLogin" class="btn btn-outline-dark w-100 mb-2">Log in</button>
                </div>
                <!-- Login Form (Initially Hidden) -->
                <div id="loginContainer" class="overlay-form">
                    <h2>Login</h2>
                    <form id="loginForm">
                        <input type="email" id="loginEmail" placeholder="Email" required><br>
                        <input type="password" id="loginPassword" placeholder="Password" required><br>
                        <button type="submit">Login</button>
                    </form>
                    <div id="otpContainer" style="display: none;">
                        <label for="otpToken">Enter OTP Code:</label>
                        <input type="text" id="otpToken" name="otpToken" />
                        <button type="submitOTP" id="submitOTPButton" class"btn btn-success">Submit OTP token</button>
                        <button type="returnOTP" id="returnToLogin" class"btn btn-secondary">return</button>    
                    </div>
                    <button id="backToMain1" class="btn btn-secondary">Back</button>
                </div>
    
                <!-- Register Form (Initially Hidden) -->
                <div id="registerContainer" class="overlay-form">
                    <h2>Register</h2>
                    <form id="registerForm">
                        <input type="text" id="registerUsername" placeholder="Username" required><br>
                        <input type="text" id="registerName" placeholder="Name" required><br>
                        <input type="email" id="registerEmail" placeholder="Email" required><br>
                        <input type="password" id="registerPassword" placeholder="Password" required><br>
                        <label>
                            <input type="checkbox" id="enable2FAonRegister"> Enable Two-Factor Authentication
                        </label><br>
                        <button type="submit">Register</button>
                    </form>
                    <button id="backToMain2" class="btn btn-secondary">Back</button>
                </div>
                <div id="RemoveAccountContainer" class="overlay-form">
                    <h2>Remove Account</h2>
                    <form id="removeAccountForm">
                        <input type="email" id="loginEmail" placeholder="Email" required><br>
                        <input type="password" id="loginPassword" placeholder="Password" required><br>
                        <button type="submit">Login</button>
                    </form>
                    <button id="backToMain3" class="btn btn-secondary">Back</button>
                </div>
            </div>
        </div>
    </div>


    {% comment %} {% include 'modals/enable_2fa.html' %} {% endcomment %}