<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProfileModalLabel">User Profile</h5>
                <button id="previous1Btn" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <div class="avatar" id="uAvatar">
                    <img id="userAvatar" src="defaut.jpg" alt="F****">
                </div>
                <h4 id="username">John Doe</h4>
                <p id="userEmail">johndoe@example.com</p>
            </div>
        </div>
    </div>
</div>

