<!-- MAIN FIRST Menu -->
<div class="modal fade" id="gameMenuFirst" tabindex="-1" aria-labelledby="gameMenuLabelFirst" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="gameMenuLabelFirst">Menu</h5>
            </div>
            <div class="modal-body">
                <button id="profileBtn" data-bs-toggle="modal" data-bs-target="#profileModal" class="btn btn-outline-secondary w-100 mb-2">Profile</button>
                <button id="tournamentInfoBtn" data-bs-toggle="modal" data-bs-target="#gameMenuTournament" class="btn btn-outline-secondary w-100 mb-2">Tournament</button>
                <button id="friendsBtn" data-bs-toggle="modal" data-bs-target="#friendsModal" class="btn btn-outline-secondary w-100 mb-2">Friends</button>
                <button id="playBtn" data-bs-toggle="modal" data-bs-target="#gameMenu" class="btn btn-outline-dark w-100 mb-2">START PLAYING</button>
                <button id="logoutBtn" class="btn btn-outline-dark w-100 mb-2">Log Out</button>
            </div>
        </div>
    </div>
</div>