{% comment %} <div class="modal fade" id="allMatchesModal" tabindex="-1" aria-labelledby="allMatchesModalLabel" data-bs-backdrop="static" data-prev>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="profileModalLabel">User Matches</h5>
                <button id="previous1Btn" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <h4><span id="username">John Doe</span></h4>
                <div class="matches">
                    <div class="divider">All Matches </div>
                     <table id="allMatchesTable" class="table">
                        <tbody>
                            <!-- Filled dynamically -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}
