{% load i18n %}
<div class="modal fade" id="addFriendsModal" tabindex="-1" aria-labelledby="addFriendsModalLabel" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addFriendsModalLabel">{% trans "Manage friends requests" %}</h5>
                <button id="addFriendCloseBtn" type="button" class="btn-close" aria-label="{% trans 'Close' %}"></button>
            </div>
            <div class="modal-body text-center">
                <form>
                    <div class="form-group">
                        <label for="searchFriend"></label>
                        <input type="friendUsername" class="form-control" id="newFriendUsername" placeholder="{% trans 'Username' %}" maxlength="30">
                    </div>
                    <button id="searchFriendBtn" type="submit" class="btn btn-outline-dark w-100 mb-2">Search</button>
                </form>
                <table id="frienshipRequestTable" class="table">
                    <tbody>
                        <!-- Filled dynamically -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
