{% load i18n %}
<div class="modal fade" id="friendsModal" tabindex="-1" aria-labelledby="friendsModalLabel" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="friendsModalLabel">{% trans "Friends" %}</h5>
                <button id="closeFriendsBtn" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
            </div>
            <div class="modal-body text-center">
                <button id="addFriendsBtn" data-bs-toggle="modal" data-bs-target="#addFriendsModal" class="btn btn-outline-dark w-100 mb-2">{% trans "Manage friends requests" %}</button>
                <table id="friendsTable" class="table">
                    <tbody>
                        <!-- Filled dynamically -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
