{% load i18n %}
<!-- User Matches Modal -->
<div class="modal fade" id="allMatchesModal" tabindex="-1" aria-labelledby="allMatchesModalLabel" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userMatchesModalLabel">{% trans "User Matches" %}</h5>
                <button id="closeAllMatchesBtn" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
            </div>
            <div class="modal-body text-center">
                <div class="matches">
                     <table id="allMatchesTable" class="table">
                        <tbody>
                            <!-- Filled dynamically -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>