{% load i18n %}
<!-- Profile Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="profileModalLabel">{% trans "User Profile" %}</h5>
                <button id="profileCloseButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
            </div>
            <div class="modal-body text-center">
                <div class="avatar" id="uAvatar">
                    <img id="userAvatar" src="" alt="F****">
                </div>
                <h4><span id="username">John Doe</span></h4>
                <p><span id="userEmail">johndoe@example.com</span></p>
                <div class="player-stats d-flex justify-content-center gap-4 mt-2">
                    <div><strong>{% trans "Matches Played" %}:</strong> <span id="matchesPlayed">42</span></div>
                    <div><strong>{% trans "Wins" %}:</strong> <span id="wins">42</span></div>
                    <div><strong>{% trans "Losses" %}:</strong> <span id="losses">42</span></div>
                </div>
                <button id="btnType" class="btn btn-outline-dark w-100 mb-2"></button>
                <div class="matches">
                    <a href="#allMatchesModal" id="AllMatchesModal" class="divider link-style" data-bs-toggle="modal" data-bs-target="#allMatchesModal">{% trans "Matches" %}</a>
                    <table id="matchesTable" class="table">
                        <tbody>
                            <!-- Filled dynamically -->
                        </tbody>
                    </table>
                </div>
                <div class="matches">
                    <a href="#allTournamentsModal" id="AllTournamentsModal" class="divider link-style" data-bs-toggle="modal" data-bs-target="#allTournamentsModal">{% trans "Tournaments" %}</a>
                    <table id="tournamentsTable" class="table">
                        <tbody>
                            <!-- Filled dynamically -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>