<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <header>
      {% csrf_token %}
      {% comment %} {% if request.user.is_authenticated %} {% endcomment %}
        {% comment %} <span>Hi {{ request.user.username | title }}</span> {% endcomment %}
        <a href="{% url 'sign_out' %}">Logout</a>
      {% comment %} {% else %} {% endcomment %}
        <a href=" {% url 'sign_in' %}">Login</a>
        <a href=" {% url 'register' %}">Register</a>
      {% comment %} {% endif %} {% endcomment %}
    </header>
    <main>
		  this is a temporary homepage
    </main>
    <script src="index.js"></script>
  </body>
</html>
