{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong Game</title>
    <!-- Link Bootstrap toolkit -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <!-- Link CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="../frontend/static/styles.css"> -->
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/static/styles.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/styles.css"> -->
</head>
<body>
    <!--<div id="tournamentWaitingRoom" class="alert alert-info position-fixed top-0 start-0 m-3" role="alert">
        <p id="tournamentCountdown"></p>
        <p>🚀 A tournament is about to start! <span id="playersInTournament">0/8</span> players in.</p>
        <button onclick="joinTournament()">Join now!</button>
    </div>-->
    <div id="tournamentBanner" class="alert alert-info position-fixed top-0 start-0 m-3" role="alert" style="display: none;">
        🚀 A tournament is about to start!<br><span id="playersInTournament">0/8</span> players in. 
        <a href="#" class="alert-link" id="joinTournamentLink">Join now!</a>
      </div>


    <!--<div id="tournamentBanner" class="alert alert-info position-fixed top-0 start-0 m-3" role="alert"> </div>-->
    
    <h1 id="gameTitle" class="text-center my-3 display-6">Pong Game</h1>
    <button id="exitButton" type="button" class="btn btn-outline-dark position-fixed top-0 end-0 m-3">Exit</button>
    <p id="timer">0m 0s</p>
    <canvas id="game" style="display:none;"></canvas>
        <p id="game-instruction1">Press the UP and DOWN keys to move your paddle.</p>
        <p id="game-instruction2">Left player: use the W/S keys to move. Right player: use UP/DOWN keys to move.</p>


    <!-- MAIN FIRST Menu -->
    <div class="modal fade" id="gameMenuFirst" tabindex="-1" aria-labelledby="gameMenuLabelFirst">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="gameMenuLabelFirst">Menu</h5>
                </div>
                <div class="modal-body">
                    <button id="profileBtn" class="btn btn-outline-secondary w-100 mb-2">Profile</button>
                    <button id="tournamentInfoBtn" class="btn btn-outline-secondary w-100 mb-2">Tournament</button>
                    <button id="friendsBtn" class="btn btn-outline-secondary w-100 mb-2">Friends</button>
                    <button id="playBtn" class="btn btn-outline-dark w-100 mb-2">START PLAYING</button>
                </div>
            </div>
        </div>
    </div>


    <!-- SECOND Game Menu Modal -->
    <div class="modal fade" id="gameMenu" tabindex="-1" aria-labelledby="gameMenuLabel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="gameMenuLabel">Select Game Mode</h5>
                </div>
                <div class="modal-body">
                    <button id="onePlayerBtn" class="btn btn-outline-dark w-100 mb-2">One Player</button>
                    <button id="twoPlayersBtn" class="btn btn-outline-dark w-100 mb-2">Two Players (hot seat)</button>
                    <button id="twoPlayersFriendsBtn" class="btn btn-outline-dark w-100 mb-2">Two Players (with a friend)</button>
                    <button id="twoPlayersRemoteBtn" class="btn btn-outline-dark w-100 mb-2">Two Players (remote)</button>
                    <button id="tournamentBtn" class="btn btn-outline-dark w-100 mb-2">Tournament</button>
                    <button id="previous1Btn" class="btn btn-outline-secondary w-100 mb-2">Previous page</button>
                </div>
            </div>
        </div>
    </div>

    <!-- THIRD Game Menu Modal Tournament -->
    <div class="modal fade" id="gameMenuTournament" tabindex="-1" aria-labelledby="gameMenuLabelTournament">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="gameMenuLabelTournament">Amount of players</h5>
                </div>
                <div class="modal-body">
                    <button id="fourPlayersTournamentBtn" class="btn btn-outline-dark w-100 mb-2">4 Players</button>
                    <button id="eightPlayersTournamentBtn" class="btn btn-outline-dark w-100 mb-2">8 Players</button>
                    <button id="previous2Btn" class="btn btn-outline-secondary w-100 mb-2">Previous page</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <!-- Link JS -->
    <!-- <script src="../frontend/static/script.js"></script> -->
    <script src="http://localhost:8080/static/websocket_handler.js"></script>
    <script src="http://localhost:8080/static/tournament.js"></script>
    <script src="http://localhost:8080/static/script.js"></script>
    <!-- <script src="/static/script.js"></script> -->
</body>
</html>