{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong Game</title>
    <!-- Link Bootstrap toolkit -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <!-- Link CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div id="tournamentBanner" class="alert alert-info position-fixed top-0 start-0 m-3" role="alert" style="display: none;">
        🚀 A tournament is about to start!<br><span id="playersInTournament">0/8</span> players in. 
        <a href="" class="alert-link" id="joinTournamentLink">Join now!</a> 
      </div>
    
    <h1 id="gameTitle" class="text-center my-3 display-6">Pong Game</h1>
    <button id="exitButton" type="button" class="btn btn-outline-dark position-fixed top-0 end-0 m-3">Exit</button>
    <p id="timer">0m 0s</p>
    <canvas id="game" style="display:none;"></canvas>
    <canvas id="tournamentBracket" width="800" height="600"></canvas>
        <p id="game-instruction1">Press the UP and DOWN keys to move your paddle.</p>
        <p id="game-instruction2">Left player: use the W/S keys to move. Right player: use UP/DOWN keys to move.</p>

    <!-- MAIN FIRST Menu -->
    <div class="modal fade" id="gameMenuFirst" tabindex="-1" aria-labelledby="gameMenuLabelFirst" data-backdrop="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="gameMenuLabelFirst">Menu</h5>
                </div>
                <div class="modal-body">
                    <button id="signIn" class="btn btn-outline-secondary w-100 mb-2">Sign in</button>
                    <button id="profileBtn" data-bs-toggle="modal" data-bs-target="#profileModal" class="btn btn-outline-secondary w-100 mb-2">Profile</button>
                    <button id="tournamentInfoBtn" data-bs-toggle="modal" data-bs-target="#gameMenuTournament" class="btn btn-outline-secondary w-100 mb-2">Tournament</button>
                    <button id="friendsBtn" data-bs-toggle="modal" data-bs-target="#friendsModal" class="btn btn-outline-secondary w-100 mb-2">Friends</button>
                    <button id="playBtn" data-bs-toggle="modal" data-bs-target="#gameMenu" class="btn btn-outline-dark w-100 mb-2">START PLAYING</button>
                </div>
            </div>
        </div>
    </div>

    {% comment %} Modals {% endcomment %}
    {% include 'modals/auth.html' %}
    {% include 'modals/profile_modal.html' %}
    {% include 'modals/game_menu_modal.html' %}
    {% include 'modals/friends_modal.html' %}
    {% include 'modals/edit_profile_modal.html' %}
    {% include 'modals/tournament_modal.html' %}
    {% include 'modals/add_friends.html' %}


    {% comment %} Scripts {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/websocket_handler.js' %}"></script>
    <script src="{% static 'js/async.js' %}"></script>
    <script src="{% static 'js/tournament.js' %}"></script>
    <script src="{% static 'js/game.js' %}"></script>
    <script src="{% static 'js/auth.js' %}"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    <script src="{% static 'js/edit_profile.js' %}"></script>
    <script src="{% static 'js/button.js' %}"></script>
    <script src="{% static 'js/add_friends.js' %}"></script>

</body>
</html>