{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong Game</title>
    <!-- Link Bootstrap toolkit -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <!-- Link CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div id="tournamentBanner" class="alert alert-info position-fixed top-0 start-0 m-3" role="alert" style="display: none;">
        🚀 A tournament is about to start!<br><span id="playersInTournament">0/8</span> players in. 
        <a href="" class="alert-link" id="joinTournamentLink">Join now!</a> 
    </div>
    
    <h1 id="gameTitle" class="text-center my-3 display-6">Pong Game</h1>
    <button id="exitButton" type="button" class="btn btn-outline-dark position-fixed top-0 end-0 m-3">Exit</button>
    <p id="timer">0m 0s</p>
    <canvas id="game" style="display:none;"></canvas>
    <!-- <canvas id="tournamentBracket" width="800" height="600"></canvas> -->
    <p id="game-instruction1">Press the UP and DOWN keys to move your paddle.</p>
    <p id="game-instruction2">Left player: use the W/S keys to move. Right player: use UP/DOWN keys to move.</p>
    <p id="game-instruction3">Press the UP and DOWN keys to move your paddle.<br>First player with a score of 3 wins.<br>The game starts automatically after 1 minute, if no one presses.</p>
        
    {% comment %} Modals {% endcomment %}
    {% include 'tournament.html' %}
    {% include 'tournament4.html' %}
    {% include 'modals/auth.html' %}
    {% include 'modals/matches_modal.html' %}
    {% include 'modals/friends_modal.html' %}
    {% include 'modals/profile_modal.html' %}
    {% include 'modals/main_menu_modal.html' %}
    {% include 'modals/game_menu_modal.html' %}
    {% include 'modals/tournament_modal.html' %}
    {% include 'modals/tournaments_modal.html' %}
    {% include 'modals/add_friends_modal.html' %}
    {% include 'modals/edit_profile_modal.html' %}
    
    
    {% comment %} Scripts {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/game.js' %}"></script>
    <script src="{% static 'js/auth.js' %}"></script>
    <script src="{% static 'js/async.js' %}"></script>
    <script src="{% static 'js/button.js' %}"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    <script src="{% static 'js/friends.js' %}"></script>
    <script src="{% static 'js/matches.js' %}"></script>
    <script src="{% static 'js/tournament.js' %}"></script>
    <script src="{% static 'js/tournaments.js' %}"></script>
    <script src="{% static 'js/add_friends.js' %}"></script>
    <script src="{% static 'js/edit_profile.js' %}"></script>
    <script src="{% static 'js/websocket_handler.js' %}"></script>

</body>
</html>