{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong Game</title>
    <!-- Link Bootstrap toolkit -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <!-- Link CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="../frontend/static/styles.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
     <!-- <link rel="stylesheet" type="text/css" href="/static/styles.css"> -->
</head>
<body>
    <div id="tournamentBanner" class="alert alert-info position-fixed top-0 start-0 m-3" role="alert" style="display: none;">
        🚀 A tournament is about to start!<br><span id="playersInTournament">0/8</span> players in. 
        <a href="" class="alert-link" id="joinTournamentLink">Join now!</a> 
      </div>
    
    <h1 id="gameTitle" class="text-center my-3 display-6">Pong Game</h1>
    <button id="exitButton" type="button" class="btn btn-outline-dark position-fixed top-0 end-0 m-3">Exit</button>
    <p id="timer">0m 0s</p>
    <canvas id="game" style="display:none;"></canvas>
    <canvas id="tournamentBracket" width="800" height="600"></canvas>
        <p id="game-instruction1">Press the UP and DOWN keys to move your paddle.</p>
        <p id="game-instruction2">Left player: use the W/S keys to move. Right player: use UP/DOWN keys to move.</p>

    <!-- MAIN FIRST Menu -->
    <div class="modal fade" id="gameMenuFirst" tabindex="-1" aria-labelledby="gameMenuLabelFirst" data-backdrop="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="gameMenuLabelFirst">Menu</h5>
                </div>
                <div class="modal-body">
                    <button id="signIn" class="btn btn-outline-secondary w-100 mb-2">Sign in</button>
                    <button id="profileBtn" data-bs-toggle="modal" data-bs-target="#profileModal" class="btn btn-outline-secondary w-100 mb-2">Profile</button>
                    <button id="tournamentInfoBtn" data-bs-toggle="modal" data-bs-target="#gameMenuTournament" class="btn btn-outline-secondary w-100 mb-2">Tournament</button>
                    <button id="friendsBtn" data-bs-toggle="modal" data-bs-target="#friendsModal" class="btn btn-outline-secondary w-100 mb-2">Friends</button>
                    <button id="playBtn" data-bs-toggle="modal" data-bs-target="#gameMenu" class="btn btn-outline-dark w-100 mb-2">START PLAYING</button>
                </div>
            </div>
        </div>
    </div>

    {% comment %} <!-- User Registration Menu Modal -->
    <div class="modal fade" id="SignInMenu" tabindex="-1" aria-labelledby="SignInMenuLabel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SignInMenuLabel">What now, hmm..?</h5>
                </div>
                <div class="modal-body">
                    <button id="showRegister" class="btn btn-outline-dark w-100 mb-2">Register</button>
                    <button id="showLogin" class="btn btn-outline-dark w-100 mb-2">Log in</button>
                    <button id="Logout" class="btn btn-outline-dark w-100 mb-2">Log Out</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Back
                    </button>
                </div>
                <!-- Login Form (Initially Hidden) -->
                <div id="loginContainer" class="overlay-form">
                    <h2>Login</h2>
                    <form id="loginForm">
                        <input type="email" id="loginEmail" placeholder="Email" required><br>
                        <input type="password" id="loginPassword" placeholder="Password" required><br>
                        <button type="submit">Login</button>
                    </form>
                    <button id="backToMain1" class="btn btn-secondary">Back</button>
                </div>
    
                <!-- Register Form (Initially Hidden) -->
                <div id="registerContainer" class="overlay-form">
                    <h2>Register</h2>
                    <form id="registerForm">
                        <input type="text" id="registerUsername" placeholder="Username" required><br>
                        <input type="text" id="registerName" placeholder="Name" required><br>
                        <input type="email" id="registerEmail" placeholder="Email" required><br>
                        <input type="password" id="registerPassword" placeholder="Password" required><br>
                        <button type="submit">Register</button>
                    </form>
                    <button id="backToMain2" class="btn btn-secondary">Back</button>
                </div>
            </div>
        </div>
    </div> {% endcomment %}

{% comment %} <!-- Login Form -->
<div id="loginContainer" tabindex="-1" aria-labelledby="LoginMenu" data-backdrop="false">
    <h2>Login</h2>
    <form id="loginForm">
        <input type="email" id="loginEmail" placeholder="Email" required><br>
        <input type="password" id="loginPassword" placeholder="Password" required><br>
        <button type="submit">Login</button>
    </form>
    <button id="backToMain1" class="btn btn-secondary">Back</button>
</div>

<!-- Register Form -->
<div id="registerContainer" tabindex="-1" aria-labelledby="RegisterMenu" data-backdrop="false">
    <h2>Register</h2>
    <form id="registerForm">
        <input type="text" id="registerUsername" placeholder="Username" required><br>
        <input type="text" id="registerName" placeholder="Name" required><br>
        <input type="email" id="registerEmail" placeholder="Email" required><br>
        <input type="password" id="registerPassword" placeholder="Password" required><br>
        <button type="submit">Register</button>
    </form>
    <button id="backToMain2" class="btn btn-secondary">Back</button>
</div> {% endcomment %}

    <!-- THIRD Game Menu Modal Tournament -->
    <div class="modal fade" id="gameMenuTournament" tabindex="-1" aria-labelledby="gameMenuLabelTournament">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="gameMenuLabelTournament">Amount of players</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <button id="fourPlayersTournamentBtn" class="btn btn-outline-dark w-100 mb-2">4 Players</button>
                    <button id="eightPlayersTournamentBtn" class="btn btn-outline-dark w-100 mb-2">8 Players</button>
                    <button id="previous2Btn" class="btn btn-outline-secondary w-100 mb-2">Previous page</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Profile Modal -->
    <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="profileModalLabel">User Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <div class="avatar" id="uAvatar">
                        <img id="userAvatar" src="{% static 'images/defaut.png' %}" alt="F****">
                    </div>
                    <h4 id="username">John Doe</h4>
                    <p id="userEmail">johndoe@example.com</p>
                    <button class="btn btn-primary">Edit Profile</button>
                    <div class="matches">
                        <div class="divider">Matches</div>
                        <table id="matchesTable" class="table">
                            <tbody>
                                <!-- Filled dynamically -->
                            </tbody>
                        </table>
                    </div>
                    <div class="matches">
                        <div class="divider">Tournaments</div> 
                        <table id="tournamentsTable" class="table">
                            <tbody>
                                <!-- Filled dynamically -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Edit profile Modal-->

    <!-- Friends Modal -->
    <div class="modal fade" id="friendsModal" tabindex="-1" aria-labelledby="friendsModalLabel" inert>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="friendsModalLabel">Friends</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul id="friendsList" class="list-group"></ul>
                </div>
            </div>
        </div>
    </div>


    {% comment %} Modals {% endcomment %}
    {% include 'modals/auth.html' %}
    {% include 'modals/profile_modal.html' %}
    {% include 'modals/game_menu_modal.html' %}
    {% include 'modals/friends_modal.html' %}
    {% include 'modals/edit_profile_modal.html' %}
    {% include 'modals/tournament_modal.html' %}


    {% comment %} Scripts {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/websocket_handler.js' %}"></script>
    <script src="{% static 'js/async.js' %}"></script>
    <script src="{% static 'js/tournament.js' %}"></script>
    <script src="{% static 'js/game.js' %}"></script>
    <script src="{% static 'js/auth.js' %}"></script>
    <!-- <script src="/static/script.js"></script> -->
    <!-- profile page -->
    <script src="{% static 'js/profile.js' %}"></script>
    <script src="{% static 'js/button.js' %}"></script>

</body>
</html>