{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link Bootstrap toolkit -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link style rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link style rel="stylesheet" type="text/css" href="{% static 'css/tournament.css' %}">
    <!-- <title>Bracket</title> -->
</head>
<body>
    <!-- <div id="tournamentContainer" class="Container" style="display: none;"> -->
    <canvas id="tournamentBracket" width="800" height="600">
        
        <!-- --------------------------------------------- match 1-------------------------------------------- -->
        <div class="Branch_1"> 
            <!-- contains 4 matches -->
            <div class="Match_1">
            <div class="Object_1">
                <!-- name of player and results of 4 matches -->
                <div><select class="Name" type="text" placeholder="Player 1" id="Player1"></select></div>
                <div>
                    <form name="FormId1" class="Result">
                    <select id="Result1">
                        <option value="0">0</option>
                    </select>
                    </form>
                </div>

                <div><select class="Name" type="text" id="Player2"></select></div>
                <div>
                    <form name="FormId2" class="Result">
                    <select id="Result2">
                        <option value="0">0</option>
                    </select>
                    </form>
                </div>

            </div>
            </div>

        <!-- ---------------------------------------------2-------------------------------------------- -->
            <div class="Match_1">
            <div class="Object_1">
                <!-- name of player and results of 4 matches -->
                <div><select class="Name" type="text" id="Player3"></select></div>
                <div>
                    <form name="FormId3" class="Result">
                    <select id="Result3">
                        <option value="0">0</option>
                    </select>
                    </form>
                </div>

                <div><select class="Name" type="text" id="Player4"></select></div>
                <div>
                    <form name="FormId4" class="Result">
                    <select id="Result4">
                        <option value="0">0</option>
                    </select>
                    </form>
                </div>

            </div>
            </div>
        
        <!-- ---------------------------------------------3 (half)-------------------------------------------- -->
            <div class="Match_1">
            <div class="Object_1">
                <!-- name of player and results of 4 matches -->
                <div><select class="Name" type="text" id="Player5"></select></div>
                <div>
                    <form name="FormId5" class="Result">
                    <select id="Result5">
                        <option value="0">0</option>
                    </select>
                    </form>
                </div>

                <div><select class="Name" type="text" id="Player6"></select></div>
                <div>
                    <form name="FormId6" class="Result">
                    <select id="Result6">
                        <option value="0">0</option>
                    </select>
                    </form>
                </div>

            </div>
            </div>

        <!-- ---------------------------------------------4-------------------------------------------- -->
            <div class="Match_1">
            <div class="Object_1">
                <!-- name of player and results of 4 matches -->
                <div><select class="Name" type="text" id="Player7"></select></div>
                <div>
                    <form name="FormId7" class="Result">
                    <select id="Result7">
                        <option value="0">0</option>
                    </select>
                    </form>
                </div>

                <div><select class="Name" type="text" id="Player8"></select></div>
                <div>
                    <form name="FormId8" class="Result">
                    <select id="Result8">
                        <option value="0">0</option>
                    </select>
                    </form>
                </div>

            </div>
            </div>
        </div>

        <!-- ---------------------------------------------QUATER FINALS-------------------------------------------- -->
        <!-- ---------------------------------------------1-------------------------------------------- -->
        <div class="Branch_2"> 
            <!-- contains 2 matches -->
            <div class="Match_2">
            <div class="Object_2">
                <!-- name of player and results of 2 matches -->
                <div><select class="Name_Forward" type="text" id="Player9"></select></div>
                <div>
                    <form name="FormId9" class="Result">
                    <select id="Result9">
                        <option value="0">0</option>
                    </select>
                    </form>
                </div>

                <div><select class="Name_Forward" type="text" id="Player10"></select></div>
                <div>
                    <form name="FormId10" class="Result">
                    <select id="Result10">
                        <option value="0">0</option>
                    </select>
                    </form>
                </div>

            </div>
            </div>

        <!-- ---------------------------------------------2 (half)-------------------------------------------- -->
            <div class="Match_2">
            <div class="Object_2">
                <!-- name of player and results of 2 matches -->
                <div><select class="Name_Forward" type="text" id="Player11"></select></div>
                <div>
                    <form name="FormId11" class="Result">
                    <select id="Result11">
                        <option value="0">0</option>
                    </select>
                    </form>
                </div>

                <div><select class="Name_Forward" type="text" id="Player12"></select></div>
                <div>
                    <form name="FormId12" class="Result">
                    <select id="Result12">
                        <option value="0">0</option>
                    </select>
                    </form>
                </div>

            </div>
            </div>
        </div>

        <!-- ---------------------------------------------SEMI FINALS-------------------------------------------- -->
        <!-- ---------------------------------------------1-------------------------------------------- -->
        <div class="Branch_3"> 
            <!-- contains 1 matches -->
            <div class="Match_3">
            <div class="Object_3">
                <!-- name of player and results of 2 matches -->
                <div><select class="Name_Forward" type="text" id="Player13"></select></div>
                <div>
                    <form name="FormId13" class="Result">
                    <select id="Result13">
                        <option value="0">0</option>
                    </select>
                    </form>
                </div>

                <div><select class="Name_Forward" type="text" id="Player14"></select></div>
                <div>
                    <form name="FormId14" class="Result">
                    <select id="Result14">
                        <option value="0">0</option>
                    </select>
                    </form>
                </div>

            </div>
            </div>
        </div>

    
    <!-- </div> -->
</canvas>
    <script src="{% static 'js/tournament.js' %}"></script>

</body>
</html>