{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tournament.css' %}">
    <!-- <title>Bracket</title> -->
</head>
<body>

    <!-- <canvas id="tournamentBracket" width="800" height="600" style="display: none;"> -->
        <div id="tournamentBracket" class="bracket-container" style="display: none;">
            <!-- <div id="tournamentBracket" class="bracket-container" style="display: grid; width: 800px; height: 600px; background-color: #c33a3a;"> -->
    
            <!-- First Column: 4 Matches -->
            <div class="Match_1">
                <div class="Object_1">
                    <div class="player">
                        <span class="Name" id="Player1" data-player-id="1">Waiting... </span>
                        <span class="Result" id="Result1">  </span>
                    </div>
                    <div class="player">
                        <span class="Name" id="Player2" data-player-id="2">Waiting... </span>
                        <span class="Result" id="Result2">  </span>
                    </div>
                </div>
            </div>
            <div class="Match_1">
                <div class="Object_1">
                    <div class="player">
                        <span class="Name" id="Player3" data-player-id="3">Waiting... </span>
                        <span class="Result" id="Result3">  </span>
                    </div>
                    <div class="player">
                        <span class="Name" id="Player4" data-player-id="4">Waiting... </span>
                        <span class="Result" id="Result4">  </span>
                    </div>
                </div>
            </div>
            <div class="Match_1">
                <div class="Object_1">
                    <div class="player">
                        <span class="Name" id="Player5" data-player-id="5">Waiting... </span>
                        <span class="Result" id="Result5">  </span>
                    </div>
                    <div class="player">
                        <span class="Name" id="Player6" data-player-id="6">Waiting... </span>
                        <span class="Result" id="Result6">  </span>
                    </div>
                </div>
            </div>
            <div class="Match_1">
                <div class="Object_1">
                    <div class="player">
                        <span class="Name" id="Player7" data-player-id="7">Waiting... </span>
                        <span class="Result" id="Result7">  </span>
                    </div>
                    <div class="player">
                        <span class="Name" id="Player8" data-player-id="8">Waiting... </span>
                        <span class="Result" id="Result8">  </span>
                    </div>
                </div>
            </div>
        
            <!-- Second Column: 2 Matches -->
            <div class="Match_2">
                <div class="Object_2">
                    <div class="player">
                        <span class="Name" id="Player9" data-player-id="9">Waiting... </span>
                        <span class="Result" id="Result9">  </span>
                    </div>
                    <div class="player">
                        <span class="Name" id="Player10" data-player-id="10">Waiting... </span>
                        <span class="Result" id="Result10">  </span>
                    </div>
                </div>
            </div>
            <div class="Match_2">
                <div class="Object_2">
                    <div class="player">
                        <span class="Name" id="Player11" data-player-id="11">Waiting... </span>
                        <span class="Result" id="Result11">  </span>
                    </div>
                    <div class="player">
                        <span class="Name" id="Player12" data-player-id="12">Waiting... </span>
                        <span class="Result" id="Result12">  </span>
                    </div>
                </div>
            </div>
        
            <!-- Third Column: 1 Match -->
            <div class="Match_3">
                <div class="Object_3">
                    <div class="player">
                        <span class="Name" id="Player13" data-player-id="13">Waiting... </span>
                        <span class="Result" id="Result13">  </span>
                    </div>
                    <div class="player">
                        <span class="Name" id="Player14" data-player-id="14">Waiting... </span>
                        <span class="Result" id="Result14">  </span>
                    </div>
                </div>
            </div>
        </div>
        
        
    {% comment %} <script src="{% static 'js/tournament.js' %}"></script> {% endcomment %}
</body>
</html>
